body {
    font-family: Arial, sans-serif;
    background-color: #9fb8c9;
    color: #333;
    padding: 20px;
}

#form-datos, #form-abm {
    background: #bfffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#filter, #tipo {
    width: 150px;
    height: 25px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccfffc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #42a1fa;
    color: white;
    cursor: pointer;
}

tr:hover {
    background-color: #67dff7;
}

h4 {
    margin-bottom: 5px;
}

button {
    background-color: #4881fa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4881fa;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"],
input[type="number"] {
    width: 200px;
}
